[Desktop Entry]
Type=Application
Name=File Tile
Comment=Desktop grid file manager
Exec=file_tile %u
Terminal=false
Categories=Development;Utility;
MimeType=x-scheme-handler/filetile;
NoDisplay=true
